*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    text-align: center;
}

#navcontent{
    min-height: 20vh;
    background-color:aqua;
}

#bodycontent{
    min-height: 60vh;
    background-color:#A8DADC;
}

#footercontent{
    min-height: 20vh;
    background-color:#2A9D8F ;
}
 
